html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 26px;
}

button {
  box-shadow: 3px 2px 0;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #fff;
}

.list {
  border: 2px solid black;
}

.listItem {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  gap: 9px;
}

input {
  border: 2px solid black;
  outline: none;
}

input:focus {
  border: 2px solid gray;
}

.submitBtn {
  align-self: flex-end;
}

.black-bar {
  border: 1px #000 solid;
  width: 75px;
  margin-bottom: 26px;
}